* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 728px;
  -webkit-text-size-adjust: 100%;
}

main {
  padding: 1em;
}

header {
  padding: 1em 1em 0;
}

#dropzone {
  /* flex items-center justify-center w-full */
  display: flex;
  justify-content: center;
}

#dropzone-label {
  /* flex flex-col items-center justify-center w-full h-64 border-2 border-gray border-dashed rounded-lg cursor-pointer hover:bg-gray dark:border-gray dark:hover:border-gray dark:hover:bg-gray */
  height: auto;
  border-style: dashed;
  border-color: gray;
  border-radius: 25px;
  cursor: pointer;
}

#dropzone-file {
  display: none;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: solid
}
